<% content_for :titulo_tela do %>
  Partidos
<% end %>

<% content_for :lead do %>
  <%= @consulta_partidos.count %> partidos encontrados <br>
<% end %>



<table class="table table-bordered table-hover" style="font-size:0.9em;">

  <tr>
    <th> # </th>
    <th>
      Nome
    </th>


    <th style="text-align:right;">Total Investido (R$)</th>

    <th></th>



  </tr>

  <% total = 0.0 %>


<% @consulta_partidos.each_with_index do |partido,index| %>


  <tr>

    <td> <%= index + 1 %> </td>

    <td>
      <%= partido.nome %>
    </td>

    <td style="text-align:right;">
      <%= number_to_currency(("%.2f" % (partido._total_em_doacoes.to_f/100)), unit: "", separator: ",", delimiter: ".") %>
      <% total += partido._total_em_doacoes.to_f %>

    </td>

    <td style="text-align:right;"> <%= link_to 'candidatos', candidatos_path(partido_id: partido.id) %> </td>



  </tr>



<%end%>

<tr>
  <td style="text-align:right;font-weight:bold;" colspan="3">
    <%= number_to_currency(("%.2f" % (total/100)), unit: "R$ ", separator: ",", delimiter: ".") %>

  </td>
</tr>


</table>
