<% content_for :titulo_tela do %>
  Partidos
<% end %>

<% content_for :lead do %>
  <%= @consulta_partidos.count %> partidos encontrados <br>
<% end %>



<table class="table table-bordered table-hover" style="font-size:0.9em;">

  <tr>
    <th> # </th>
    <th>
      Nome
    </th>

    <th style="text-align:right;"> Fundo Partidário (R$)</th>
    <th style="text-align:right;"> Doações para candidatos (R$)</th>
    <th style="text-align:right;"> Doações para o partido (R$)</th>

    <th style="text-align:right;">Total Utilizado (R$)</th>

    <th></th>



  </tr>

  <% total = total_gastos_fundo_partidario = total_doacoes_recebidas_pelos_candidatos = total_doacoes_recebidas_pelo_partido = 0.0 %>


<% @consulta_partidos.each_with_index do |partido,index| %>


  <tr>

    <td> <%= index + 1 %> </td>

    <td>
      <%= partido.nome %>
    </td>

    <td style="text-align:right;">
      <%= number_to_currency(("%.2f" % (partido._gastos_fundo_partidario.to_f/100)), unit: "", separator: ",", delimiter: ".") %>
      <% total_gastos_fundo_partidario += partido._gastos_fundo_partidario.to_f %>

    </td>
    <td style="text-align:right;">
      <%= number_to_currency(("%.2f" % (partido._doacoes_recebidas_pelos_candidatos.to_f/100)), unit: "", separator: ",", delimiter: ".") %>
      <% total_doacoes_recebidas_pelos_candidatos += partido._doacoes_recebidas_pelos_candidatos.to_f %>

    </td>
    <td style="text-align:right;">
      <%= number_to_currency(("%.2f" % (partido._doacoes_recebidas_pelo_partido.to_f/100)), unit: "", separator: ",", delimiter: ".") %>
      <% total_doacoes_recebidas_pelo_partido += partido._doacoes_recebidas_pelo_partido.to_f %>

    </td>

    <td style="text-align:right;">
      <%= number_to_currency(("%.2f" % (partido._total_dinheiro_utilizado.to_f/100)), unit: "", separator: ",", delimiter: ".") %>
      <% total += partido._total_dinheiro_utilizado.to_f %>

    </td>

    <td style="text-align:right;"> <%= link_to 'candidatos', candidatos_path(partido_id: partido.id) %> </td>



  </tr>



<%end%>

<tr>

  <td colspan="2"></td>
  <td style="text-align:right;font-weight:bold;">
    <%= number_to_currency(("%.2f" % (total_gastos_fundo_partidario/100)), unit: "R$ ", separator: ",", delimiter: ".") %>

  </td>

  <td style="text-align:right;font-weight:bold;">
    <%= number_to_currency(("%.2f" % (total_doacoes_recebidas_pelos_candidatos/100)), unit: "R$ ", separator: ",", delimiter: ".") %>

  </td>
  <td style="text-align:right;font-weight:bold;">
    <%= number_to_currency(("%.2f" % (total_doacoes_recebidas_pelo_partido/100)), unit: "R$ ", separator: ",", delimiter: ".") %>

  </td>



  <td style="text-align:right;font-weight:bold;">
    <%= number_to_currency(("%.2f" % (total/100)), unit: "R$ ", separator: ",", delimiter: ".") %>

  </td>

  <td></td>
</tr>


</table>
