<% partido = @partidos[params['partido_id']] %>

<% content_for :titulo_tela do %>
  Candidatos

  <% if not params['partido_id'].blank? %>
    do  <span style="font-size:1.5em;"> <%= partido.nome %> </span>
  <% end %>

<% end %>

<% content_for :lead do %>
  <%= @consulta_candidatos.count %> candidatos encontrados
  <% if partido %>
    - <%= number_to_currency(("%.2f" % (partido._total_em_doacoes/100)), unit:'R$', separator: ",", delimiter: ".") %>
  <% end %>
  <br>
<% end %>

<div class="row">
    <%= form_tag nil, :method=>'GET' do %>
      <div class="col-lg-8">
        <%= text_field_tag 'nome', params['nome'], :class=>'form-control'  %>

      </div>

      <div class="col-lg-4">

        <%= submit_tag 'pesquisar', :class=>'form-control' %>
      </div>
    <%end%>


</div>

<div class="row">
  <div class='col-lg-12'>
    <hr/>
    <%= paginate @consulta_candidatos %>
  </div>
</div>







<div class="row">
  <div class='col-lg-12'>
    <table class="table table-bordered table-hover" style="font-size:0.9em;">

      <tr>
        <th> # </th>

        <th>
          Nome
        </th>

        <th>
          Estado
        </th>

        <th>
          Partido
        </th>


        <th style="text-align:right;">Doações do partido (R$)</th>
        <th style="text-align:right;">Doações de pessoas via partido (R$)</th>
        <th style="text-align:right;">Doações de pessoas via direta (R$)</th>
        <th style="text-align:right;">Total (R$)</th>

        <th> </th>


      </tr>

      <% index = 0 %>
      <%
        offset = params['page'].to_i
        offset = 1 if offset == 0
        offset = (offset - 1) * 25
        index = offset
       %>



      <% @totais.sort_by{|id,valor|valor}.reverse.each do |candidato_id,valor| %>


        <tr>

          <td> <%=index = index + 1 %> </td>



          <td>
            <%= @candidatos[candidato_id].nome %>
            <% if @candidatos[candidato_id].eleito? %>
              <i class="fa fa-trophy"></i>
            <% end %>
          </td>

          <td>
            <%= @candidatos[candidato_id].estado %>
          </td>

          <td>
            <%= @partidos[@candidatos[candidato_id].partido_id.to_s].nome if @partidos[@candidatos[candidato_id].partido_id.to_s] %>
          </td>

          <td style="text-align:right;">
            <%= total = number_to_currency( @candidatos[candidato_id]._total_em_doacoes_partido.to_f/100 , unit:'', separator: ",", delimiter: ".", precision: 0) %>
          </td>

          <td style="text-align:right;">
            <%= total = number_to_currency( @candidatos[candidato_id]._total_em_doacoes_pessoas_via_partido.to_f/100 , unit:'', separator: ",", delimiter: ".", precision: 0) %>
          </td>

          <td style="text-align:right;">
            <%= total = number_to_currency( @candidatos[candidato_id]._total_em_doacoes_pessoas_via_direta.to_f/100 , unit:'', separator: ",", delimiter: ".", precision: 0) %>
          </td>

          <td style="text-align:right;">
            <%= total = number_to_currency( @candidatos[candidato_id]._total_em_doacoes.to_f/100 , unit:'', separator: ",", delimiter: ".", precision: 0) %> <br/>
            (<%= @candidatos[candidato_id].ranking_total_em_doacoes %>)
          </td>

          <td style="text-align:right;"> <%= link_to 'doadores', candidato_path(candidato_id) %> </td>

        </tr>



      <%end%>

    </table>
  </div>
</div>

