<% content_for :titulo_tela do %>
  Candidatos
<% end %>

<% content_for :lead do %>
  <%= @candidatos.count %> candidatos encontrados <br>
<% end %>


<table class="table table-bordered table-hover" style="font-size:0.9em;">

  <tr>
    <th>
      Nome
    </th>

    <th>
      Estado
    </th>

    <th>
      Partido
    </th>

    <th>Total em doações</th>



  </tr>


<% @totais.sort_by{|id,valor|valor}.reverse.each do |candidato_id,valor| %>

  <tr>

    <td>
      <%= @candidatos[candidato_id].nome %>
    </td>

    <td>
      <%= @candidatos[candidato_id].estado %>
    </td>

    <td>
      <%= @candidatos[candidato_id].partido %>
    </td>

    <td>
      <% total = number_to_currency(("%.2f" % (valor.to_f/100)), unit: "R$ ", separator: ",", delimiter: ".") %>
      <%= link_to total, candidato_path(candidato_id) %>

    </td>

  </tr>



<%end%>


</table>

