<% content_for :titulo_tela do %>

  <div class="row">
    <div class= "col-lg-12">

      <div class="pull-left">

        <%= @candidato.nome %> <br/>
        <%= @candidato.partido.nome %> - <%= @candidato.estado %>
      </div>

      <div class="pull-right" style="text-align:right;font-weight:normal;font-size:0.8em;font-style:italic;">

        <%=number_to_currency(("%.2f" % (@total.to_f/100)), unit: "R$ ", separator: ",", delimiter: ".") %> <br/>
        <%= @doacoes.count %> doações

      </div>
    </div>

  </div>
<% end %>

<% content_for :lead do %>
<% end %>


<table class="table table-bordered table-hover" style="font-size:0.9em;text-align:center">

  <tr >

    <th>#</th>

    <th style="text-align:left">
      Doador
    </th>


    <th style="text-align:center">
      CPF/CNPJ
    </th>

    <th style="text-align:center">
      Qtde Doações
    </th>

    <th style="text-align:right">
      Valor Total (R$)
    </th>

  </tr>

  <% index = 0 %>

  <% @doacoes_por_doador.each do |doador_id,d| %>

    <tr>

      <td>
        <%= index += 1 %>
      </td>


      <td style="text-align:left">
        <%= link_to @doadores[doador_id].nome, doador_path(doador_id) %>

      </td>

      <td>
        <%=  @doadores[doador_id].cnpj_cpf_formatado %>

      </td>

      <td >
        <%= link_to d[:qtde], candidato_doador_doacoes_path(@candidato.id, doador_id), :class=>'btn btn-xs btn-primary', :style=>'width:40px;'  %>


      </td>


      <td style="text-align:right">

        <%=number_to_currency(("%.2f" % (d[:valor].to_f/100)), unit: "", separator: ",", delimiter: ".") %>
      </td>
    </tr>



  <%end%>

  <tr>
    <td colspan="5" style="text-align:right;font-size:1.1em;font-weight:bold">
      <%=number_to_currency(("%.2f" % (@total.to_f/100)), unit: "R$ ", separator: ",", delimiter: ".") %>



    </td>


  </tr>


</table>








