<% content_for :titulo_tela do %>
  Doadores
<% end %>

<% content_for :lead do %>
  <%= @doadores.count %> doadores encontrados <br>
<% end %>

<%= paginate @doadores %>

<table class="table table-bordered table-hover" style="font-size:0.9em;">


<tr >

  <th style = "text-align:left;">
    CPF/CNPJ
  </th>

  <th style = "text-align:left;">
     Nome
  </th>

  <th style = "text-align:right;">
    Total Doado
  </th>

  <th ></th>


</tr>



<% @doadores.each do |doador| %>

  <tr>
    <td style = "text-align:left;">
      <%= doador.cnpj_cpf_formatado  %>
    </td>

    <td style = "text-align:left;">
      <%= doador.nome %>
      <% if doador.comite_financeiro? %>
        - <%= @partidos[doador.partido_id.to_s].nome %>


      <% end %>
    </td>


    <td style = "text-align:right;">
      <%= total = number_to_currency(("%.2f" % (doador._total_em_doacoes.to_f/100)), unit:'', separator: ",", delimiter: ".") %>
    </td>

    <td style = "text-align:right;">
      <%= link_to 'beneficiários', doador_path(doador) %>

    </td>

  </tr>

<% end %>





</table>
