<% content_for :titulo_tela do %>

  <div class="row">
    <div class= "col-lg-12">

      <div class="pull-left">

        <%= @doador.nome %> <br/>
        <%= @doador.cnpj_cpf_formatado %>
      </div>

      <div class="pull-right" style="text-align:right;font-weight:normal;font-size:0.8em;font-style:italic;">

        <%=number_to_currency(("%.2f" % (@total.to_f/100)), unit: "R$ ", separator: ",", delimiter: ".") %> <br/>
        <%= @doacoes.count %> doações

      </div>
    </div>

  </div>
<% end %>

<% content_for :lead do %>
<% end %>


<table class="table table-bordered table-hover" style="font-size:0.9em;text-align:center">

  <tr >

    <th>#</th>

    <th style="text-align:left">
      Candidato
    </th>

    <th style="text-align:center">
      Partido
    </th>

    <th style="text-align:center">
      Estado
    </th>


    <th style="text-align:center">
      CPF/CNPJ
    </th>

    <th style="text-align:right">
      Qtde Doações
    </th>

    <th style="text-align:right">
      Valor Total (R$)
    </th>

  </tr>

  <% index = 0 %>

  <% @totais_por_candidato.each do |candidato_id,valor| %>

    <tr>

      <td style="text-align:left"> <%= index+= 1 %>  </td>

      <td style="text-align:left">
        <%= link_to @candidatos[candidato_id].nome, candidato_path(candidato_id) %>

      </td>

      <td>
        <%= @candidatos[candidato_id].partido.nome %>
      </td>

      <td>
        <%= @candidatos[candidato_id].estado %>
      </td>

      <td>
        <%= @candidatos[candidato_id].cnpj_formatado %>
      </td>

      <td style="text-align:right">
        <%= valor[:qtde] %>
      </td>

      <td style="text-align:right">

        <%=number_to_currency(("%.2f" % (valor[:total].to_f/100)), unit: "", separator: ",", delimiter: ".") %>
      </td>
    </tr>



  <%end%>

  <tr>
    <td colspan="7" style="text-align:right;font-size:1.4em;font-weight:bold">
      <%=number_to_currency(("%.2f" % (@total.to_f/100)), unit: "R$ ", separator: ",", delimiter: ".") %>



    </td>


  </tr>


</table>
