<!DOCTYPE html>
<html>
<head>

  <title>
    Politicosapp
  </title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>

</head>

<body>

  <nav class="navbar navbar-default" style="border-radius: 0px; border-top: none; border-right: none; border-left: none;">

    <div class="container">

      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <%= link_to 'Politica BR', '/', :class=>"navbar-brand" %>

      </div>

      <div class="collapse navbar-collapse">
        
        <ul class="nav navbar-nav">
          
          <li class="<%= 'active' if request.path.gsub(/\?.*/, '') == root_path %>">
            <%= link_to 'home', root_path %>
          </li>

          <li class="<%= 'active' if request.path.gsub(/\?.*/, '').include?(usuarios_path) %>">
            <%= link_to 'usuários', usuarios_path %>
          </li>

        </ul>

        
<!--         <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
        </ul> -->
      </div>
    </div>
  </nav>


  <div class="container">
    <h1>
      <%= yield :titulo_tela %>
    </h1>

    
    <% if opcoes_menu_interno = menu_interno %>

      <% opcoes_menu_interno.each do |nome_link, dados_link| %>

        <%= link_to nome_link, dados_link['path'], :class=>"btn btn-sm #{'btn-success' if dados_link['ativo']}" %>

      <% end %>

    <% end %>


    <p class="lead" style="margin-top:10px; margin-bottom:0px;">
      <%= yield :lead %>
    </p>


    <div style="margin-top:5px; padding-top:20px; border-top:dotted 1px #DDD;">
      <%= yield %>
    </div>

  </div>

</body>
</html>
